*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 100px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 200vh;

  background-color: rgb(75, 75, 75);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border-radius: 5px;
  margin: 5px;
  padding: 3px;

  &:active,
  &:focus {
    outline: none;
  }
}

textarea {
  min-height: 50px;
  min-width: 100px;
  max-width: 400px;
}
